# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs / DB
# Logs / DB
*.log
*.sqlite3
*.db
backend/data/

# Node (we will add frontend later)
node_modules/